body {
    background-color: #fff;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: red;
}

.ball2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(255, 0, 200);
}

.ball3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(0, 255, 60);
}

.ball4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(17, 0, 255);
}

.ball4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(17, 0, 255);
}

.ball5 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(225, 255, 0);
}